html {
    font-size: 10px;
    box-sizing: border-box;
    scrollbar-color: #252c32 #0a0e13;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-y: scroll;
    background-color: #0f1519;
    color: #fff;
    line-height: 1.3125em;
    font-family: 'Colfax', Helvetica, sans-serif;
    font-size: 1.6rem;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

a {
    color: #fff;
    text-decoration: none
}

@media (pointer: fine) {
    ::-webkit-scrollbar {
        height: 14px;
        width: 14px;
        background-color: #0a0e13;
        margin: 0 10px
    }

    ::-webkit-scrollbar-thumb {
        background: #252c32;
        -webkit-border-radius: 1ex;
        border: 3px solid #0a0e13
    }

    ::-webkit-scrollbar-corner {
        background: #000
    }
}

.sidebar {
    width: calc(((100% - 442px) / 12) * 3 + 102px);
    min-height: 100vh;
    min-width: 360px;
    background: #0a0e13
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

h2 {
    font-size: 1.8rem
}

img {
    border: 0
}

.Schedule {
    animation: fadein .8s;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.Schedule .events,
.Schedule .loading {
    width: calc(((100% - 442px) / 12) * 9 + 340px);
    margin-bottom: 60px;
}

.Schedule .sidebar {
    border-left: 1px solid #252c32;
    position: relative;
    z-index: 1
}

@media (max-width: 1075px) {
    .Schedule {
        padding-left: 0;
    }

    .Schedule .events {
        width: 100%;
    }

    .Schedule .sidebar {
        position: fixed;
        left: 100%;
        top: 80px;
    }
}
.Team {
    line-height: 1;
    animation: fadein .8s;
    min-height: 100vh
}

.EventDate {
    display: inline-block;
}

.EventDate .date {
    margin: 0 34px;
    padding: 48px 0 15px 0;
    font-size: 1.8rem;
    font-weight: normal;
}

.EventDate .date .weekday {
    font-weight: bold
}

.EventDate .date .dash {
    padding: 0 4px
}

@media (max-width: 1075px) {
    .EventDate .date {
        margin: 0 24px
    }
}

@media (max-width: 720px) {
    .EventDate {
        width: 100%;
        flex: none;
    }

    .EventDate .date {
        margin: 0 14px;
        padding: 20px 0 10px 0
    }
}

.Event {
    animation: fadein .8s;
    position: relative;
}

.Event .today-button {
    position: fixed;
    bottom: 30px;
    left: 35%;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: .33px;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: #000;
    padding: 7px 16px;
    border-radius: 25px;
    z-index: 5;
}

@media (max-width: 1075px) {
    .Event .results-label {
        margin: 50px 24px 0 0
    }

    .Event .today-button {
        left: 45%
    }
}

@media (max-width: 720px) {
    .Event .results-label {
        display: none
    }

    .Event .divider.live {
        margin-top: 32px
    }

    .Event .today-button {
        left: 40%
    }
}

@media all {
    .EventFilter {
        animation: fadein .8s;
        width: 100%
    }

    .EventFilter .header {
        display: block;
        position: relative;
        width: 100%;
        z-index: 1;
        border-bottom: 1px solid #252c32;
    }

    .EventFilter .header .filter {
        color: #8fa3b0;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        left: 30px;
        bottom: 12px
    }

    .EventFilter .leagues {
        padding: 0 0 80px 0;
        margin: 0;
        overflow-y: auto;
    }

    .EventFilter .leagues .league {
        position: relative;
        cursor: pointer;
        list-style: none;
        border-bottom: 1px solid #252c32;
        color: #8fa3b0;
        transition: background .25s ease-out;
    }

    .EventFilter .leagues .league:after {
        display: block;
        position: absolute;
        top: 0;
        width: 4px;
        height: 100%;
        content: '';
        z-index: 100;
        background: transparent;
        transition: background .25s ease-out
    }

    .EventFilter .leagues .league.selected:after,
    .EventFilter .leagues .league.selected:hover:after {
        background: #00c8c8
    }

    .EventFilter .leagues .league.selected .info .image {
        opacity: 1
    }

    .EventFilter .leagues .league.selected .info .label .name {
        color: #fff
    }

    .EventFilter .leagues .league .info {
        display: flex;
        align-items: center;
    }

    .EventFilter .leagues .league .info .image {
        display: inline-block;
        float: left;
        opacity: .3;
        transition: opacity .1s ease-out
    }

    .EventFilter .leagues .league .info .label {
        padding-top: 2px;
    }

    .EventFilter .leagues .league .info .label .name {
        font-size: 1.8rem;
        font-weight: normal;
        color: #8fa3b0
    }

    .EventFilter .leagues .league .info .label .region {
        text-transform: uppercase;
        color: #8fa3b0;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: bold
    }
}

@media (min-width: 721px) and (max-width: 1075px) {
    .EventFilter {
        top: 0;
        height: calc(100vh - 80px)
    }

    .EventFilter .header {
        height: 60px;
    }

    .EventFilter .header .save {
        display: block
    }

    .EventFilter .leagues {
        height: calc(100% - 60px);
    }

    .EventFilter .leagues .league:before {
        width: 6px
    }

    .EventFilter .leagues .league .image {
        width: 60px;
        margin: 0 12px 0 24px
    }

    .EventFilter .leagues .league .info {
        padding: 12px 0;
    }

    .EventFilter .leagues .league .info .image {
        width: 60px;
        height: 60px;
        margin: 0 12px 0 24px
    }
}

.EventMatch .event.future, .EventMatch .event.past {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: calc(((100% - 442px) / 12) * 12 + 374px);
    height: 100px;
    margin: 0 34px;
}

.EventMatch .event.future:before, .EventMatch .event.past:before {
    position: absolute;
    top: -1px;
    left: calc(((100% - 442px) / 12) * 2 + 68px);
    right: 0;
    height: 1px;
    content: '';
    display: block;
    background: #252c32
}

.EventMatch .event.future:after, .EventMatch .event.past:after {
    position: absolute;
    bottom: 0;
    left: calc(((100% - 442px) / 12) * 2 + 68px);
    right: 0;
    height: 1px;
    content: '';
    display: block;
    background: #252c32
}

.EventMatch .event.future.first:before, .EventMatch .event.past.first:before, .EventMatch .event.future.last:after, .EventMatch .event.past.last:after,
.EventMatch .event.future.single:before, .EventMatch .event.past.single:before, .EventMatch .event.future.single:after, .EventMatch .event.past.single:after {
    left: 0;
    transition: left .25s ease-out
}

.EventMatch .event.future.first .time, .EventMatch .event.past.first .time, .EventMatch .event.future.single .time, .EventMatch .event.past.single .time {
    opacity: 1
}

.EventMatch .event.future.past, .EventMatch .event.past.past {
    cursor: pointer;
    padding: 0;
    transition: background-color .25s ease-out, width .25s ease-out, margin .25s ease-out, padding .25s ease-out;
    -ms-transition: background-color .25s ease-out, width .25s ease-out;
}

.EventMatch .event.future.past .score, .EventMatch .event.past.past .score {
    font-size: 1.6rem;
    color: #fff
}

.EventMatch .event.future.first-of-day .approx, .EventMatch .event.past.first-of-day .approx {
    visibility: hidden
}

.EventMatch .teams {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    position: relative;
}

.EventMatch .teams.hide-spoilers .team,
.EventMatch .teams.hide-spoilers .versus,
.EventMatch .teams.hide-spoilers .score {
    filter: blur(15px) grayscale(1)
}

.EventMatch .teams img {
    width: 70px;
    height: 70px;
    margin: 16px 0;
    box-sizing: content-box
}

.EventMatch .teams .team {
    display: flex;
    align-items: center;
    width: 45%
}

.EventMatch .teams .team1 {
    text-align: right;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.EventMatch .teams .team1 .team-info {
    padding-right: 12px
}

.EventMatch .teams .team2 {
    text-align: left;
    justify-content: flex-start;
}

.EventMatch .teams .team2 .team-info {
    padding-left: 12px
}

.EventMatch .teams .winloss {
    color: #8fa3b0;
    color: #8fa3b0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: bold
}

.EventMatch .teams h2 .tricode {
    display: none
}

.EventMatch .teams.winner-team1 .team1 h2 {
    color: #c79e57
}

.EventMatch .teams.winner-team1 .team1 .score span:before {
    visibility: visible
}

.EventMatch .teams.winner-team1 .team2 img {
    opacity: .3;
    transition: opacity .25s ease-out
}

.EventMatch .teams.winner-team1 .team2 h2 {
    color: #8fa3b0;
    transition: color .25s ease-out
}

.EventMatch .teams.winner-team1 .score .scoreTeam1:before {
    display: block
}

.EventMatch .teams.winner-team2 .team2 h2 {
    color: #c79e57
}

.EventMatch .teams.winner-team2 .team2 .score span:after {
    visibility: visible
}

.EventMatch .teams.winner-team2 .team1 img {
    opacity: .3;
    transition: opacity .25s ease-out
}

.EventMatch .teams.winner-team2 .team1 h2 {
    color: #8fa3b0;
    transition: color .25s ease-out
}

.EventMatch .teams.winner-team2 .score .scoreTeam2:after {
    display: block
}

.EventMatch .score,
.EventMatch .versus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    color: #8fa3b0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.EventMatch .score .scoreTeam1,
.EventMatch .versus .scoreTeam1 {
    position: relative;
}

.EventMatch .score .scoreTeam1:before,
.EventMatch .versus .scoreTeam1:before {
    display: none;
    position: absolute;
    top: 0;
    left: -20px;
    color: #b19955;
    width: 24px;
    font-size: 9px;
    padding: 0 6px;
    content: '\25C0';
    font-family: 'Segoe UI Symbol'
}

.EventMatch .score .scoreTeam2,
.EventMatch .versus .scoreTeam2 {
    position: relative;
}

.EventMatch .score .scoreTeam2:after,
.EventMatch .versus .scoreTeam2:after {
    display: none;
    position: absolute;
    top: 0;
    right: -20px;
    color: #b19955;
    width: 24px;
    font-size: 9px;
    padding: 0 6px;
    content: '\25B6';
    font-family: 'Segoe UI Symbol'
}

.EventMatch .league {
    flex: 0 0 110px;
    color: #8fa3b0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: bold;
    text-align: right;
}

.EventMatch .league .name {
    text-transform: uppercase
}

.EventMatch .league .strategy {
    text-transform: uppercase
}

@media (max-width: 1075px) {
    .EventMatch .score,
    .EventMatch .versus {
        width: calc(((100% - 312px) / 12) * 2 + 24px)
    }

    .EventMatch .teams h2 .tricode {
        display: block
    }

    .EventMatch .teams h2 .name {
        display: none
    }

    .EventMatch .teams img {
        width: 60px;
        height: 60px
    }

    .EventMatch .event.future,
    .EventMatch .event.past {
        width: calc(((100% - 312px) / 12) * 12 + 264px);
        margin: 0 24px
    }
}

.EventTime {
    display: inline-block;
    flex: 0 0 110px;
}

.EventTime .time {
    position: relative;
    font-size: 4rem;
    line-height: 1em;
    opacity: 0;
    font-weight: bold;
    transition: opacity .25s ease-out;
}

.EventTime .time .minute,
.EventTime .time .ampm {
    position: relative;
    padding-left: 4px;
    top: -18px;
    color: #8fa3b0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: bold;
    color: #fff;
    line-height: 0
}

@media (max-width: 720px) {
    .EventTime {
        width: calc(((100% - 165px) / 12) * 4 + 60px);
        flex: none;
    }

    .EventTime .time {
        font-size: 2.8rem;
    }

    .EventTime .time .minute,
    .EventTime .time .ampm {
        top: -12px;
        font-size: 1.1rem
    }
}

@media all {
    .TopMenu #top-menu {
        margin: 0 !important;
        height: 80px;
        background-color: #000;
        border-bottom: 1px solid #252c32
    }
}

@media all {
    #riotbar-bar {
        background-color: #000 !important;
        border-bottom: 1px solid #252c32 !important;
    }
}
